<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1><i class="fas fa-comments"></i> Manage Comments</h1>
      <%= link_to admin_dashboard_path, class: "btn btn-secondary" do %>
        <i class="fas fa-arrow-left"></i> Back to Dashboard
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">All Comments (<%= @comments.count %>)</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Comment</th>
            <th>Author</th>
            <th>Post</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <strong><%= comment.content.truncate(100) %></strong>
              </td>
              <td><%= comment.user.display_name %></td>
              <td>
                <%= link_to comment.post.title, post_path(comment.post) %>
              </td>
              <td><%= comment.created_at.strftime("%B %d, %Y") %></td>
              <td>
                <div class="btn-group btn-group-sm">
                  <%= link_to "View Post", post_path(comment.post), class: "btn btn-outline-primary" %>
                  <%= link_to "Delete", admin_comment_path(comment), method: :delete, data: { confirm: 'Are you sure? This will delete the comment.' }, class: "btn btn-outline-danger" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <!-- Pagination -->
    <div class="d-flex justify-content-center">
      <%= paginate @comments %>
    </div>
  </div>
</div>
